extends layout

block content
	h1= title
	- if(message)
	p= message
	form(action="/addLocation", method="post")
		fieldset
			legend Add Location
			p
				label Location Name
					br
					input(name='name')
			p
				label Lat/long
					br
					input(name='latitude')
					input(name='longitude')
			p
				button(type='submit') Save
	br
	br
	form(action="/addListItem", method="post")
		fieldset
			legend Add Shopping List Item
			p
				label List Item Name
					br
					input(name='name')
			p
				label Location
					br
					select(name="location")
						option(value="") All
						- if(locations){
						each location in locations
							option(value= location.id)= location.name
						-}
		p
				button(type='submit') Save
	h1 Existing items
	p
		- if(shoppingListItems){
		ul
		each shoppingListItem in shoppingListItems
			li= shoppingListItem.name
				br
				= shoppingListItem
		-}