extends layout

block content
	h1= title
	ul 
		li
			a(href='/signup') Sign up for glass shoppinglist
		li
			a(href='/authenticate') Authenticate
		li
			a(href='/location/ping/43.646357/-79.395682') Location poll (called by mobile app)
		li
			a(href='/clear/all') Clear Timeline
		li
			a(href='/') Home
		li
			a(href='/test') Test