extends layout

block content
	h1= title
	ul 
		li
			a(href='/shoppinglist/manage') Add List
		li
			a(href='/shoppinglist/ping/43.646357/-79.395682') Location poll (called by mobile app)
		li
			a(href='/timeline/clear') Clear Timeline
		li
			a(href='/shoppinglist/all/43.650883/-79.395682') All ListItems